#header{background-color:#f9f9f9;height:80px;margin-top:-5px;width:100%}
#menu{float:right;position:relative;top:30px;right:0%}
#search{background-color:white;height:127px;margin-top:-41px;position:sticky;top:0px;z-index:1;}
#loginemail{background-color:#E9E6E6;border:none;text-align:center;border-radius: 18px;}
#loginpassword{background-color:#E9E6E6;border:none;text-align:center;border-radius: 18px;}
#location{background-color:#333e62;color:white;border:none}
#location:hover{color:#DAA520;border:none}

body{background-color:#f9f9f9}
.inside{font-size:18px;font-family:tahoma;color:black;text-decoration:none;text-transform:uppercase;margin-top:20dpx;margin:5px;}
.inside:hover{color:chocolate;}


.dropdown {float: left;overflow: hidden;}
.dropbtn{margin:5px;}
.dropdown .dropbtn {font-size: 18px;  color: black;text-decoration:none;text-transform:uppercase;font-family:tahoma;}
.dropdown:hover .dropbtn {color: chocolate;}

.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropdown-content a {float: none;color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.logine{width:80%;text-transform:uppercase;font-family: Poppins-Regular;font-size: 13px;line-height: 2.7;color:grey;background-color:#E9E6E6;border:none;text-align:center;border-radius: 18px;}

.forget{text-decoration:none;color:#3DC661;text}
.input-icons i { position: absolute; } 
        
.input-icons { width: 100%; margin-bottom: 10px; } 
          
.icon { padding: 10px; } 

.hide{float:right;overflow:hidden;}
.doit{font-size:18px;font-family:tahoma;text-transform:uppercase;color:black;margin:5px;text-decoration:none;}
.hide:hover .doit {color: chocolate;}
.show {display: none;position: fixed;right:8px;background-color:#f9f9f9;border-radius:3%;width:20%}
.hide .show{display:none;}
.login100-form-btn {
	font-family: Montserrat-Bold;
	font-size: 13px;
	line-height: 2.7;
	border:none;
	color: #fff;
	text-transform: uppercase;
	width: 80%;
	border-radius: 18px;
	background: #57b846;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

}

.login100-form-btn:hover {background: #333333;}

body{background-color:#f9f9f9}
.control{float:left;margin-left:0.8%;width:30%;background-color:white;margin-top:10px;border: 0.5px solid grey;border-radius:2px;


}
.welcome{width:65%;float:right;height:90%;border-radius:3px;margin-top:10px;margin-right:0.5%;background-image:url(IMAGES/key.jpg);background-repeat:no-repeat;background-size:cover;}

img{border-radius:50%;width:30%;height:20%;}
button{background-color:skyblue;font-family: Montserrat-Bold;font-size: 13px;line-height: 2.7;
		border:none;color: #fff;text-transform: uppercase;border-radius: 3px;justify-content: center;
		align-items: center;padding: 0 25px;width:50%}
		
button:hover{cursor:pointer;background-color:#57b846}
h1{text-align:left;margin-top:26%;margin-left:20%;color:#57b846}



